.c-books-list {
  --book-min-height: 220px;
  --book-min-width: 300px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--book-min-width), 1fr)
  );
  gap: 2rem;
}

@media (max-width: 500px) {
  .c-books-list {
    --book-min-width: 200px;
  }
}
