.c-book {
  min-height: var(--book-min-height);
  padding: 1rem 1.5rem;
  display: flex;
  flex-flow: column;

  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.192);
  border-radius: 16px;

  background: rgb(36, 36, 36);

  animation: bookAppear 0.8s ease-in;
}

@keyframes bookAppear {
  from {
    opacity: 0;
    transform: scale(1.3);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.c-book__name {
  font-size: 1.5rem;
  height: 2rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.c-book__author {
  margin-top: 1rem;
  font-size: 0.9rem;
  height: 1rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(94, 94, 94);
}

.c-book__input-wrapper {
  margin-top: 8px;
  display: flex;
  flex-flow: column;
  gap: 4px;
}

.c-book__input {
  width: 100%;
  height: 2rem;
  padding-inline: 0.5rem;
  border-radius: 4px;
  background: rgb(51, 51, 51);
  color: rgb(212, 212, 212);
}

.c-book__input:focus {
  outline: 2px solid rgb(255, 151, 95);
}

.c-book-buttons {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.c-book-buttons__btn {
  width: 100px;
  padding: 0.8rem 1rem;

  font-size: 1.1rem;

  border-radius: 6px;
}

.c-book-buttons__btn--edit {
  background: #ffb48c;
  color: #000;
}

.c-book-buttons__btn--delete {
  background: rgb(187, 74, 66);
}

.c-book-buttons__btn--submit {
  background: #ffb48c;
  color: #000;
}
